@media screen { /*default setting for mobile–want this to be flexible version of style sheet*/
		html {
			background-color: #555555;
		}
		body {
			font-family: 'Istok Web', sans-serif; /*using multiple properties under string identifier, browser will go through list of fonts to see what's on computer*/
			font-size: 12px;
			color: #000000; /*#000000 is black, #fafafa is eggshell, #444 is gray; browser add-ons for color names, color droppers from websites*/
			background-color: #fafafa;
			padding: 20px; /*padding pushes text inward from edges*/
		}
		h1 {
			color: #999;
			text-transform: uppercase;
		} /*more specific selector of h1 overrides body selector, so h1 is gray and body is black*/
		/*Susy and Yahoo Grids give styling for dividing up page*/
		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0; /*some browsers use padding, some margin*/
			font-size: 11.5px;
			background-color: #FFFFFF;
			border: none;
		}

		a:link {
			color: #38c;
			text-decoration: none; /*gets rid of underline*/
		}
		a:visited {
			color: #8c3;
		}
		a:hover,
		a:focus {
			color: #3c8; /*separate selectors with a comma to group*/
		}
		a:active {
			color: #333;
		}
}

@media screen and (min-width: 480px) { /*tablet–landscape view of iPhone*/

}

@media screen and (min-width: 768px) { /*small monitor*/
	body {
		width: 700px;
		margin: 20px auto;
	}

	li {
		display: inline;
	}
}

@media screen and (min-width: 992px) { /*larger monitor*/

}